@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


html {
    height: 100%;
}
body {
    min-height: 95vh;
    background-color: #0a0909;
}

.text-reveal{
    width: 100%;
}

.name{
    word-break: keep-all;
    font-size: 2.7rem;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.726);
    text-align: center;
    color: white;
    margin: 30px;
    font-family: 'Poppins', sans-serif;
    
    
}

main {
    text-align: center;
}

.pix{
    font-size: 2rem;
    margin: 3px;
}

.pix-qr-code {
    background-color: rgb(255, 255, 255);
    color: black;
    margin: 0 auto;
    max-width: 60vh;
    border: 1px solid black;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.726);
    border-radius: 20px 0px 20px 0;
    
}


.pix-qr-code-img {
    width: 75%;
}

.chave-pix {
    cursor: pointer;
    display: inline-block;
    max-width: 75%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 0px 20px 0px 20px;
}

.copiar{
    background-color: #fff;
    display: inline-block;
    vertical-align: middle;
}

.copy{
    vertical-align: top;
}


.link {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}


.items {
    background-color: #fff;
    max-width: 300px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.726);
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 20px 0px 20px 0;
}

.inline{
    cursor: pointer;
    display: inline-block;
    margin-left: 2rem;
    margin-top: 2rem;
    transition: all 0.5s;
    animation: copiadoAnimacao 0.5s ease-in-out forwards;

}

.inline:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}



@keyframes mouseEmCima {
    0%{
        transform: translateY(0);
        background-color: #e4e2e2;
        
    }
    100%{
        transform: translateY(-10px);
        background-color: #bbbbbb;
    }
}




.inline p{
    margin-top: 3px;
    font-size: 1rem;
}

@keyframes animate{
    0%{
        transform: translateY(-800px);  
        color: #fff;
    }
    60%{
        transform: translateY(0);
    }
    80%{
        transform: translateY(-100px);
    }
    100%{
        transform: translateY(0);
        color: #6e55fd;
    }
}

@keyframes copiadoAnimacao {
    0%{
        opacity: 0;
    }50%{
        opacity: 50%;
    }
    100%{
        opacity: 100%;
    }
}